.App {
    height: 100vh;
    overflow-x: hidden;
}

.dark-mode {
    background-color: hsl(226, 23%, 11%);
    color: white;
}

ul {
    list-style: none;
}

.keyName {
    color: red;
    text-transform: capitalize;
}

.error {
    color: red;
    font-size: small;
}
